body {
  background: #28333C;
  color: #FFF;
  margin: 0;
}

a {
  color: #FF8300;
  text-decoration: none;
}

a:visited {
  color: #CC6900;
}

a:hover{
  color: #FFF;
}

.divider {
  display: flex;
  flex: 1;
}

.page-content {
  background: #1F2122;
  max-width: 1200px;
  margin: 30px auto;
  padding: 40px;
}
