.header {
  padding: 0px 100px;
  background: #1F2122;
  display: flex;
}

.header-logo {
  max-height: 30px;
  margin: 15px 5px;
}

.homelink{
  display: flex;
}

.homelink-text {
  margin: auto;
}

.header-nav {
  margin: auto;
}
